@import url('@/modify/css/variable.less');

body{

  a {
    color: @primary-color;
  }
  .ant-btn {
    border-radius: @border-radius-base;
    font-weight: @primary-font-weight;

    &.btn-border{
      border: 1px solid @primary-color;
    }

    &.btn-circle{
      border-radius: 50%;
    }

    &:hover, &:focus{
      color: @primary-button-text-color;
      border: 1px solid @primary-color;
      background-color: @primary-color;
    }

    &.ant-btn-primary {
      background-color: @primary-color;
      border-color: @primary-border-color;
    }

    &.ant-btn-primary:hover, &.ant-btn-primary:focus {
      border: 1px solid @primary-color-light;
      background-color: @primary-color-light;
    }
  }

  .ant-input {
    border-color: @border-color;
    border-radius: @border-radius-base;

    &.login-input {
      border: 0;
      border-bottom: 2px solid @border-color;
      border-radius: 0;

      &:hover, &:focus {
        box-shadow: none;
        border-color: @primary-color;
      }
    }

    &:hover, &:focus {
      border-color: @primary-color;
      box-shadow: .5 0 0 .5px @primary-color;
    }
  }

  .ant-menu{
    font-weight: 0 0 0 2px @primary-font-weight;
  }

  .ant-menu-horizontal{
    line-height: 64px;
    border-bottom: none;
  }

  .ant-menu-horizontal > .ant-menu-item-selected > a{
    color: @primary-color-light;
  }

  .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
    color: @primary-color-light;
    border-bottom: 2px solid @primary-color-light;
  }

  .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab:hover {
    color: @primary-color;  
  }

  .ant-tabs-ink-bar {
    background-color: @primary-color;
  }
}

.markdown-body{
  border: 0 !important;
}

.v-show-content{
  padding: 0 !important;
  background-color: @nav-background-color !important;

  p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
  }
}

.v-show-content-html{
  padding: 0 !important;
}


