@import: url('~ant-design-vue/dist/antd.less');

// -------- Colors -----------
@primary-color: #5869DA; // 全局主色
@primary-color-light: #6978DE; // 主色高亮
@primary-color-loading: #99a3e4; // 页面加载色
@primary-color-loading-shadow: #c0c6e7; // 页面加载阴影色
@primary-border-color: #5869DA; // 主色按钮边框颜色
@primary-button-text-color: #fff; // 主色按钮文字颜色
@error-inpit-color: #f5222d; // 错误输入框边框颜色
@text-button-bg-color: #F3F3F3; // 文字按钮背景颜色

@disabled-button-bg-color: #F5F5F5; // 禁用按钮背景颜色
@disabled-button-text-color: #B8B8B8; // 禁用按钮文字颜色

@border-color: #DCDFE6;
@border-bottom: 1px solid #DCDFE6;
@border-light-color: #F2F6FC;

@text-color: #303133; //主要文字颜色
@description-text-color: #687385; //描述文字颜色

@input-background-color: #F5F5F7; // 表单背景颜色

@nav-background-color: #fff; // 导航栏背景颜色
@primary-background-color: #F5F7F9; //主页面背景色
@primary-text-color: #303133;

@media (prefers-color-scheme: light) {
  @nav-background-color: #fff; // 导航栏背景颜色
  @primary-background-color: #F5F7F9; //主页面背景色
  @primary-text-color: #303133;
}

@media (prefers-color-scheme: dark) {
  @nav-background-color: #18181C; // 导航栏背景颜色
  @primary-background-color: #000; //主页面背景色
  @primary-text-color: #F5F5F7;
}

// -------- Height & Width -----------
@view-width: 1200px; // 首页内容最大宽度
@mobile-width: 700px; // 移动端最大宽度
@mini-width: 924px; // 最小宽屏模式宽度
@article-width: 750px; // 首页文章列表最大宽度
@aside-width: 330px; // 首页侧边栏最大宽度
@login-form-width: 330px; // 登录页表单宽度

@border-radius-base: 2px; // 组件/浮层圆角
@primary-font-weight: 500px; // 基础字宽

